*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
}

.hero_bg{
    background-color: #1F2937;
}

.logo_link{
    display:flex;
}

.logo{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    flex-grow: 1;
    padding: 15px 7%;
}

.link{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap:2em;
    padding: 20px 7em;
}

.link_txt{
    color: #E5E7EB;
    text-decoration: none;
}
.main_hero_container{
    display:flex;
    justify-content: space-evenly;
    padding: 100px 0
}

.mainsubbtn{
    display: flex;
    flex-direction: column;
    padding-top: 50px;

}

.maintxt{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.subtxt{
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
    padding: 10px 0;
}

.hero_btn_bg{
    padding: 20px 0;
}

.hero_btn{
    background-color: #3882F6;
    border-color: transparent;
    height: 35px;
    width: 110px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #F9FAF8;
}

.second-btn{
    color:#F9FAF8;
    text-decoration: none;
}


.hero_img{
    display:flex;
}

.random_info_bg{
    background-color: white;
}

.random_info{
    display:flex;
    font-size: 36px;
    font-weight: 800;
    padding-top: 50px;
    color: #1F2937;
    justify-content: center;
}

.random_info_spacing{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
}

.random_img_text{
    display:flex;
    flex-direction: column;

}

.random_img{
    display: flex;
    overflow:hidden;
    width:min-content;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #3882F6;
}

.random_txt{
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    width: 200px;
}

.quote_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 100px;
}
.quote_txt{
    display:flex;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.quote_tag{
    display:flex;
    align-self: flex-end;
    font-size: 25px;
    font-weight: 600;
    color:#1F2937;
}

.cta_bg{
    display: flex;
    background-color: white;
    padding: 50px 50px;
    justify-content: center;

}
.cta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width:70%;
    background-color: #3882F6;
    border-radius: 10px;
}

.cta_txt_portion{
    display: flex;
    flex-direction: column;
}
.cta_txt{
    display:flex;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
}

.cta_subtxt{
    display:flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 300;
    color: #F9FAF8;
}

.cta_btn{
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    color: #F9FAF8;
    padding: 10px 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    font-size: 20px;
    font-weight: 300;
    color:#F9FAF8;
    padding: 40px 0;

}